version: '3'

volumes:
  postgres_volume:

services:
  pg:
    image: postgres:17.5-alpine3.22
    env_file:
      - '.env'
    ports:
      - '54321:5432'
    volumes:
      - postgres_volume:/var/lib/postgres/data

  migrator:
    build:
      context: .
      dockerfile: migration.Dockerfile
    restart: on-failure
    environment:
      DB_HOST: pg-local
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - '2181:2181'
  kafka:
    image: wurstmeister/kafka
    ports:
      - '9092:9092'
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: 'orders:1:1'
